<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>About Me</title>
		<link rel="stylesheet" href="../static/styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap" rel="stylesheet">
	</head>

	<body>

		<div class="container">

			<nav class="navbar">

					<img id="logo" src="../static/weblogo.png" alt="web logo">
					<ul>
						<li><a href="{{ url_for('core.index') }}">Home</a></li>
						<li><a href="{{ url_for('core.about') }}">About</a></li>
						<li><a href="#">Contact Me</a></li>
						<li><a href="#">Schedule an Appointment</a></li>
						<li><a href="#">Forum</a></li>
						<li><a href="#">Account</a></li>
					</ul>

			</nav>

			<div class="about-content">

			</div>
		</div>

	</body>
</html>
