* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
   	text-rendering: optimizeLegibility;
	font-family: 'Manrope', sans-serif;
	color: #333333;
}

:root {

}

/* ------------------------------------NAV BAR------------------------------------------ */

.navbar {
	background-color: #d9d9d9;
}

/* ------------------------------------HOME PAGE CONTENT------------------------------------------ */
#index-container {

}

.carousel-item {
  -webkit-transition: -webkit-transform 1.5s ease, opacity 1.5s ease;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

@media (prefers-reduced-motion: reduce) {
	.carousel-item {
		transition: 1.5s!important;
	}
}

#carouselInterval {
	height: 320px;
	width: 64%;
	margin: 24px auto;
	border-radius: 16px;
}

.carousel-inner {
	height: 100%;
}

#carousel-about {
	background-color: red;
	border-radius: 16px;
	height: 100%;
}

#carousel-contact {
	background-color: blue;
	border-radius: 16px;
	height: 100%;
}

#carousel-appointment {
	background-color: green;
	border-radius: 16px;
	height: 100%;
}

#carousel-forum{
	background-color: mediumpurple;
	border-radius: 16px;
	height: 100%;
}
