* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
   	text-rendering: optimizeLegibility;
	font-family: 'Manrope', sans-serif;
	color: #333333;
}

:root {

}

html, body {
	background-color: #d9d9d9;
	min-width: 880px;
}

/* ------------------------------------NAV BAR------------------------------------------ */

.navbar {
	background-color: #bfbfbf;
}

/* ------------------------------------HOME PAGE CONTENT------------------------------------------ */
#index-container {
	background-color: #d9d9d9;
}

#content-header {
	width: 100%;
	height: 560px;
	background-image: url("eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#content-header-cover {
	width: 100%;
	height: 100%;
	background-color: #333333;
	opacity: .75;
	display: flex;
    justify-content: center;
    align-items: center;
}

#content-header-info {
	width: 60%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
	gap: 8px;
}

#content-header-info > h1 {
	font-size: 56px;
	color: #d9d9d9;
	text-align: center;
	opacity: 1;
}

#content-header-info > p {
	font-size: 16px;
	color: #d9d9d9;
	text-align: center;
	opacity: 1;
	width: 640px;
}

#cards {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    align-content: center;
}

.content-card {
	height: 240px;
	background-color: #333333;
	width: 400px;
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	gap: 8px;
    flex-direction: column;
	padding: 8px;
	border-radius: 8px;
}

.content-card > h2 {
	color: #d9d9d9;
	text-align: center;
	font-size: 30px;
}

.content-card > p {
	color: #d9d9d9;
	text-align: center;
	font-size: 18px;
}

.content-card > button:hover {
	text-decoration: underline;
}

.button {
	background-color: #bfbfbf!important;
	border-color: #bfbfbf!important;
	color: #333333!important;
	
}

/* ------------------------------------ABOUT PAGE CONTENT------------------------------------------ */
#about-html {
	background-color: #d9d9d9;
}

#about-body {
	background-color: #d9d9d9;
	height: 100%;
}

#about-content-outer {
	background-image: url("eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 560px;
	width: 100%;
}

#about-content-bg {
	height: 100%;
	background-color: rgba(51,51,51,.8);
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-content {
	width: 80%;
	height: 80%;
	background-color: rgba(217, 217, 217, .8);
	border-radius: 16px;
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
	gap: 16px;
	padding: 16px;
}

#bio {

}::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

#card-outer {
	display: flex;
	justify-content: center;
}

#card-inner {
	width: 60%;
}

#bio > h2 {
	font-weight: 700;
}

#bio > p {
	margin: 0;
	max-height: 360px;
	overflow-y: scroll;
	font-weight: 700;
}

#about-content > img {
	height: 100%;
	object-fit: contain;
	border-radius: 16px;
	opacity: 1;
}

.bio-cards {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.bio-card {
	width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 24px;
    gap: 16px;
}

.bio-card-header > h2 {

}

.bio-card-text > p {

}

.bio-card-image {
	display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
}

.bio-card-image> img {
	width: 32%;
	object-fit: contain;
	border-radius: 8px;
}

#about-container > h1 {
	font-size: 3rem;
    margin: 0;
    padding: 8px 0;
    font-weight: 500;
	text-align: center;
}

/* ------------------------------------CONTACT ME PAGE CONTENT------------------------------------------ */
#contact-html {
	background-color: #d9d9d9;
	height: 100%;
}

#contact-body {
	height: 100%;
	background-color: #d9d9d9;
	background-image: url("../static/eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#contact-container {
	height: calc(100% - 56px);
	background-color: rgba(51,51,51,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact-container-body {
	width: 32%;
	height: 80%;
	background-color: rgba(191, 191, 191, .8);
	border-radius: 16px;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 8px;
}

#contact-container-body > p {
	font-weight: 600;
	font-size: 18px;
	max-width: 80%;
}

#contact-form {
	width: 80%;
}

.mb-3 > label {
	margin-bottom: 0;
}

#message {
	height: 350px;
	max-height: 350px;
	resize: none;
	color: #333333;
}

#contact-button {
	background-color: #333333;
	color: #d9d9d9;
}

#button-div {
	margin-top: 24px;
	display: flex;
	align-items: center;
    justify-content: flex-end;
}






















