* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
   	text-rendering: optimizeLegibility;
	font-family: 'Manrope', sans-serif;
	color: #333333;
}

:root {
	--success-bg: #D1E7DD;
    --success-border: #badbcc;
    --success-color: #0f5132;
    --fail-bg: #f8d7da;
    --fail-border: #f5c2c7;
    --fail-color: #842029;
}

html, body {
	min-width: 880px;
}

.bi:hover {
	cursor: pointer;
}

p {
	margin: 0;
}

/* ----- NAV BAR ----- */

.navbar {
	background-color: #bfbfbf;
}

a.nav-link {
	font-weight: 600;
}

/* ----- HOME PAGE CONTENT ----- */
#index-html {
	background-color: #d9d9d9;
}

#content-header {
	width: 100%;
	height: 560px;
	background-image: url("../img/eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#content-header-cover {
	width: 100%;
	height: 100%;
	background-color: rgba(51,51,51,.8);
	display: flex;
    justify-content: center;
    align-items: center;
}

#content-header-info {
	width: 60%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
	gap: 8px;
}

#content-header-info > h1 {
	font-size: 56px;
	color: #d9d9d9;
	text-align: center;
	opacity: 1;
}

#content-header-info > p {
	font-size: 16px;
	color: #d9d9d9;
	text-align: center;
	opacity: 1;
	width: 640px;
}

#cards {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
	background-color: #d9d9d9;
	padding-top: 2rem;
}

.content-card {
	height: 240px;
	background-color: #333333;
	width: 400px;
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	gap: 8px;
    flex-direction: column;
	padding: 8px;
	border-radius: 8px;
}

.content-card > h2 {
	color: #d9d9d9;
	text-align: center;
	font-size: 30px;
}

.content-card > p {
	color: #d9d9d9;
	text-align: center;
	font-size: 18px;
}

.content-card > button:hover {
	text-decoration: underline;
}

.button {
	background-color: #bfbfbf!important;
	border-color: #bfbfbf!important;
	color: #333333!important;
	
}

/* ----- ABOUT PAGE CONTENT ----- */
#about-html {
	background-color: #d9d9d9;
}

#about-body {
	background-color: #d9d9d9;
	height: 100%;
}

#about-content-outer {
	background-image: url("../img/eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 560px;
	width: 100%;
}

#about-content-bg {
	height: 100%;
	background-color: rgba(51,51,51,.8);
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-content {
	width: 80%;
	height: 80%;
	background-color: rgba(217, 217, 217, .8);
	border-radius: 16px;
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
	gap: 16px;
	padding: 16px;
}

@media (width >= 1375px) {
	#about-content{
	
	}::-webkit-scrollbar {
		width: 0;
		background-color: transparent;
 	}
}

#card-outer {
	display: flex;
	justify-content: center;
}

#card-inner {
	width: 60%;
}

#bio > h2 {
	font-weight: 700;
}

#bio > p {
	margin: 0;
	max-height: 360px;
	overflow-y: scroll;
	font-weight: 700;
}

#about-content > img {
	height: 100%;
	object-fit: contain;
	border-radius: 16px;
	opacity: 1;
}

.bio-cards {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.bio-card {
	width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 24px;
    gap: 16px;
}

.bio-card-image {
	display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
}

.bio-card-image> img {
	width: 32%;
	object-fit: contain;
	border-radius: 8px;
}

#about-container > h1 {
	font-size: 3rem;
    margin: 0;
    padding: 8px 0;
    font-weight: 500;
	text-align: center;
}

/* ----- CONTACT ME PAGE CONTENT ----- */
#contact-html {
	background-color: #d9d9d9;
	height: 100%;
}

#contact-body {
	height: 100%;
	background-color: #d9d9d9;
	background-image: url("../img/eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#contact-container {
	height: calc(100% - 56px);
	background-color: rgba(51,51,51,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact-container-body {
	width: 32%;
	min-width: 480px;
	background-color: rgba(191, 191, 191, .8);
	border-radius: 16px;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 8px;
}

#contact-container-body > p {
	font-weight: 600;
	font-size: 18px;
	width: 80%;
}

#contact-form {
	width: 80%;
}

.form-label {
	margin-bottom: 0!important;
	padding-left: 12px;
}

#form-textarea {
	display: flex;
	flex-direction: column;
}

#message {
	height: 350px;
	max-height: 350px;
	resize: none;
	color: #333333;
	padding: 0.375rem 0.75rem;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
}

#message:focus {
	outline: none;
}

.form-input:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)!important;
}

#form-button {
	background-color: #333333;
	color: #d9d9d9;
}

#button-div {
	margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

/* ----- APPOINTMENT PAGE CONTENT ----- */
#appointment-html {
	background-color: #d9d9d9;
	height: calc(100% - 56px);
}

#appointment-body {
	background-color: #d9d9d9;
	background-image: url("../img/eduardo-cano-photo-co-gP9rAnGJBRo-unsplash.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#appointment-container {
	background-color: rgba(51,51,51,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

#appointment-container-body {
	width: 32%;
	min-width: 480px;
	background-color: rgba(191, 191, 191, .8);
	border-radius: 16px;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 8px;
}

#appointment-container-body > h1 {
	width: 80%;
}

#appointment-container-body > p {
	font-weight: 600;
	font-size: 18px;
	width: 80%;
}

#appointment-form {
	width: 80%;
}

#appt-textarea {
	display: flex;
	flex-direction: column;
}

#appt-message {
	height: 350px;
	max-height: 350px;
	resize: none;
	color: #333333;
	padding: 0.375rem 0.75rem;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
}

#appt-message:focus {
	outline: none;
}

.form-input:focus, .form-select:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)!important;
}

#appt-form-button {
	background-color: #333333;
	color: #d9d9d9;
}

#appt-button-div {
	margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

/* ----- ALERTS ----- */
/*noinspection CssUnusedSymbol*/
.success {
    border: solid 2px var(--success-border)!important;
    background-color: var(--success-bg)!important;
    color: var(--success-color)!important;
}

/*noinspection CssUnusedSymbol*/
.success:focus {
    border: solid 2px var(--success-border);
    background-color: var(--success-bg);
    color: var(--success-color);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(15, 81, 50, .6)!important;
}

/*noinspection CssUnusedSymbol*/
.success-ta {
	border: solid 2px var(--success-border)!important;
	color: var(--success-color);
}

/*noinspection CssUnusedSymbol*/
.success-ta:focus {
	border: solid 2px var(--success-border);
	color: var(--success-color);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(15, 81, 50, .6)!important;
}

/*noinspection CssUnusedSymbol*/
.success-ta:-webkit-autofill,
.success-ta:-webkit-autofill:focus {
	color: var(--success-color);
	-webkit-text-fill-color: var(--success-color)!important;
	-webkit-box-shadow: 0 0 0 1000px var(--success-bg) inset!important;
}

/*noinspection CssUnusedSymbol*/
.fail {
    border: solid 2px var(--fail-border)!important;
    background-color: var(--fail-bg)!important;
	color: var(--fail-color)!important;
}

/*noinspection CssUnusedSymbol*/
.fail:focus {
    border: solid 2px var(--fail-border)!important;
    background-color: var(--fail-bg)!important;
    color: var(--fail-color)!important;
}

/*noinspection CssUnusedSymbol*/
.success:-webkit-autofill,
.success:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--success-color)!important;
  -webkit-box-shadow: 0 0 0 1000px var(--success-bg) inset!important;
}

/*noinspection CssUnusedSymbol*/
.fail:-webkit-autofill,
.fail:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--fail-color)!important;
  -webkit-box-shadow: 0 0 0 1000px var(--fail-bg) inset!important;
}

#contact-alert,
#appt-alert {
	display: none;
	height: 38px;
	padding: .375rem .75rem;
	border-radius: .375rem;
}

.forum-alert {
	display: none;
    position: absolute;
    top: 72px;
    right: 8px;
    width: 300px;
    height: 48px;
    border-radius: 8px;
	padding: .75rem .5rem;
}

.inner-alert {
	display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* ----- FORUM PAGE ----- */
#forum-html, #forum-body {
	background-color: #eeeeee;
}

.container-sm {
	padding: 16px 8px;
}

.container-head > p {
	margin: 0;
}

#new-post-button {
	background-color: #333333;
	border-color: #333333;
}

#lower-head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
}

/* ----- LIST OF POSTS ----- */

#lower-head > p {
	margin: 0;
}

.post-date {
	font-size: 14px;
	color: rgba(51,51,51,.75);
}

.p-m0 {
	margin: 0;
}

#post-list {
	border-radius: 8px;
	width: 50%;
}

.list-group-item {
	background-color: #d9d9d9;
}

/*noinspection CssUnusedSymbol*/
.list-item-header {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.h4-m0 {
	margin: 0;
}

.inner-li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.left-li {
	width: 80%;
}

.truncate {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.view-post {
	background-color: #333333;
	border-color: #333333;
	color: #eeeeee;
}

.view-post:hover,
.view-post:focus,
.view-post:active {
	background-color: #333333;
	border-color: #333333;
	color: #eeeeee;
}

/* ----- MODAL ----- */

.popup-overlay {
	background-color: rgba(80, 80, 80, 0.8);
    position: fixed;
    padding: 2rem;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*visibility: hidden;*/
	display: none;
}

.popup-content {
	background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
    padding: 1rem 2rem;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    /*visibility: hidden;*/
	display: none;
	max-height: 800px;
}

/* ----- MODAL HEADER ----- */

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalHeader > p {
    margin: 0;
    color: #333333;
}

.modal-h2 {
	margin: 0;
}

.modalHeader > p {
    display: inline-block;
}

.modal-x {
    font-size: 24px;
}

/* ----- CREATE POST MODAL ----- */
.modal-label {
	font-size: 18px;
	font-weight: 500;
}

#create-title-input {
	height: 48px;
}

#create-body-ta {
	height: 400px;
	resize: none;
}

#counter-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#counter {
	margin: 0;
}

#create-button-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#create-button {
	background-color: #333333;
	border-color: #333333;
}

/* ----- VIEW POST MODAL ----- */

.comment-div > p {
	margin: 0;
}

.comment-div {
	display: inline-block;
	border-radius: 8px;
	padding: .375rem .5rem;
}

.comment-div:hover {
	cursor: pointer;
	background-color: #d9d9d9;
}

.popup-content > hr {
	margin-bottom: .5rem;
}

.hidden {
	display: none;
}

.comments-header {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 40px;
}

.comments-header > h4 {
	margin: 0;
}

.comment-alert {
	display: none;
	border-radius: 8px;
	padding: .5rem .25rem;
}

.comment-ta {
	height: 300px;
	resize: none;
}

#comment-counter-div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#comment-buttons {
	margin-top: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.comment-list-item {
	background-color: #eeeeee;
}

.comment-date {
	font-size: 14px;
	color: rgba(51,51,51,.75);
}











